.fondogris {background-color:#fff;}
.postEnlace a {text-decoration:none;color:#bbb;}
#cuello div {float:left;margin:10px 4px 0px 4px;}
#cuello div a {text-decoration:none;color:#bbb;}
.enlaceGris a {text-decoration:none;color:#999;}
code {background-color:#f6f6f6;}
