body {
    padding-top:60px;
}
.fondogris {
    background-color:#fff;
}
a {
    text-decoration:none;
    color:#212121;
}
a:hover {
    text-decoration:none;
    color:#727272;
}
.postEnlace a {
    text-decoration:none;
    color:#727272;
}
#cuello div {
    float:left;
    margin:10px 4px 0px 4px;
}
#cuello div a {
    text-decoration:none;
    color:#727272;
}
.enlaceGris a {
    text-decoration:none;
    color:#727272;
}
.enlaceGris a:hover {
    text-decoration:none;
    color:#727272;
}
.highlight {
    background:none;
}
pre, code {
    line-height:1.2;
}
code {
    padding:0px;
}
/* bootstrap */
code {
    background:none;
}
#myCarousel img {
    margin:auto;
    width:620px;
}
.container p img {
    width:auto;
    width:560px;
}
/* wiki */
#wiki_content {
    width: 800px;
    margin: auto;
}
.wiki_footer{
    text-align:center;
}
#footer{
    color : #bbb;
}
