<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Home</a>
      <a class="navbar-brand" href="/blog">Blog</a>
      <a class="navbar-brand" href="/wiki">Wiki</a>
    </div>
    <div class="collapse navbar-collapse pull-right">
      <ul class="nav navbar-nav">
        <li><a href="http://github.com/juanpabloaj">Github</a></li>
        <li><a href="http://twitter.com/juanpabloaj">Twitter</a></li>
      </ul>
    </div>
  </div>
</div>
