<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen" />
<title>{{ page.title }}</title>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16949831-9']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Home</a>
                <a class="navbar-brand" href="/blog">Blog</a>
                <a class="navbar-brand" href="/wiki">Wiki</a>
            </div>
            <div class="collapse navbar-collapse pull-right">
                <ul class="nav navbar-nav">
                    <li><a href="http://twitter.com/juanpabloaj">twitter</a></li>
                    <li><a href="http://github.com/juanpabloaj">github</a></li>
                    <li><a href="https://bitbucket.org/juanpablo">bitbucket</a></li>
                        <li ><a href="#"><span id="mail"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col-md-3 hidden-xs hidden-sm">
            <a href="/">
            <img class="img-thumbnail" src="http://f.cl.ly/items/332o2z0V0h2T2w0M2Y0m/deLado.jpg" alt="" />
            </a>
            <h3>Posts</h3>
            {% for post in site.posts %}
                <div class="enlaceGris">
                    <div><a href="{{ post.url }}">{{ post.title }}</a></div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-8">
            {% for post in site.posts limit:2 %}
                <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
                {{ post.content }}
                <hr />
            {% endfor %}
        </div>
    </div>
    <br />
    <hr>
	<div class="enlaceGris" id="footer"><!-- use blueprint footer -->
		Powered by {
		<a href="https://github.com">github</a>,
		<a href="https://github.com/mojombo/jekyll">jekyll</a>,
		<a href="http://www.vim.org">vim</a>
		+ <a href="/wiki/vim/vimPlugins">plugins</a>}
        <p class="pull-right"><a href="http://feeds.feedburner.com/juanpabloaj">feed</a></p>
	</div>
</div>
</body>
</html>
